<!DOCTYPE html>
<html lang="en">
<head>
    <center>
    <meta charset="UTF-8">
    <title>小票识别系统</title>
</head>
<body background='../static/background.jfif' style="  background-repeat:repeat-y;background-size: 100%;">
    <h1> <font color="#FFFFFF">小票图片</font></h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <i> <font color="#FFFFFF">请输入票据编号：</font></i>
        <input type="text" class="txt_input" name="name"  value="01" style="margin-top:10px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px; "/>
    </form>
    <h1>票据{{userinput}}如下：</h1>
    <img src="{{ url_for('static', filename= './images/tmp.jpg',_t=val1) }}" alt="你的图片走失了～～"/>
    <h1>票据{{userinput}}关键信息如下：</h1>
        <h3>{{L1}}</h3>
        <h3>{{L2}}</h3>
        <h3>{{L3}}</h3>
        <h3>{{L4}}</h3>
</body>
</html>